services:
  authpocdb:
    container_name: authpocdb
    image: postgres:15.3-alpine
    restart: unless-stopped
    labels:
      - traefik.enable=false
    networks:
      - authpocnet
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5468:5432"
    volumes:
      - authpocpgdata:/var/lib/postgresql/data
      - authpocpgconf:/etc/postgresql
      - authpocpglog:/var/log/postgresql
  authpoc:
    container_name: authpoc
    image: authpoc
    restart: unless-stopped
    environment:
      - GO_ENV
      - HOST
      - PORT
      - DSN
      - NTFY
      - NTFY_TOKEN
      - METRICS_SECRET
      - PROMETHEUS
      - RESEND_API_KEY
      - SESSION_AUTH_KEY
      - SESSION_ENCRYPTION_KEY
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3269/healthcheck"]
    labels:
      - traefik.enable=true
      - traefik.http.routers.authpoc.rule=Host(`auth.poc.urx.ink`)
      - traefik.http.routers.authpoc.entrypoints=web,websecure
      - traefik.http.routers.authpoc.service=authpoc
      - traefik.http.services.authpoc.loadbalancer.server.port=3269
      - traefik.http.routers.authpoc.tls=true
      - traefik.http.routers.authpoc.tls.certresolver=letsencrypt
      - traefik.http.routers.authpoc.middlewares=websocket-headers,forwardedheaders
    networks:
      - authpocnet
      - proxy
      - monitoring
    ports:
      - 3269:3269

networks:
  proxy:
    external: true
  monitoring:
    external: true
  authpocnet:
    driver: bridge
    external: false

volumes:
  authpocpgdata:
    driver: local
  authpocpgconf:
    driver: local
  authpocpglog:
    driver: local
