services:
  authpoc:
    container_name: authpoc
    image: authpoc
    restart: unless-stopped
    environment:
      - GO_ENV
      - HOST
      - PORT
      - DSN
      - NTFY
      - METRICS_SECRET
      - PROMETHEUS
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3269/healthcheck"]
    labels:
      - traefik.enable=true
      - traefik.http.routers.authpoc.rule=Host(`authpoc.example.com`)
      - traefik.http.routers.authpoc.entrypoints=web,websecure
      - traefik.http.routers.authpoc.service=authpoc
      - traefik.http.services.authpoc.loadbalancer.server.port=3269
      - traefik.http.routers.authpoc.tls=true
      - traefik.http.routers.authpoc.tls.certresolver=letsencrypt
      - traefik.http.middlewares.forwardedheaders.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.forwardedheaders.headers.customrequestheaders.X-Forwarded-For={ip}
      - traefik.http.middlewares.websocket-headers.headers.customrequestheaders.Upgrade=websocket
      - traefik.http.middlewares.websocket-headers.headers.customrequestheaders.Connection=Upgrade
      - traefik.http.routers.authpoc.middlewares=websocket-headers,forwardedheaders
    networks:
      - authpocnet
      - proxy
      - monitoring
    ports:
      - 3269:3269

networks:
  proxy:
    external: true
  monitoring:
    external: true
  authpocnet:
    driver: bridge
    external: false

volumes:
  authpocpgdata:
    driver: local
  authpocpgconf:
    driver: local
  authpocpglog:
    driver: local
