package layouts

import (
	"github.com/Francesco99975/authpoc/internal/models"
	"github.com/Francesco99975/authpoc/views/components"
)

templ Error(site models.Site, title string) {
	@CoreHTML(site) {
		<div class="min-h-screen flex flex-col">
			@components.ErrorHeader(site, title)
			{ children... }
			@components.ErrorFooter(title)
		</div>
	}
}
