package views

import (
	"github.com/Francesco99975/authpoc/internal/models"
	"github.com/Francesco99975/authpoc/views/components"
	"github.com/Francesco99975/authpoc/views/layouts"
)

templ PasswordReset(site models.Site) {
	@layouts.Base(site) {
		<main class="min-h-screen bg-std flex items-center justify-center p-4">
			<div class="w-full max-w-md" id="reset-container">
				@components.RequestResetCard(site.CSRF)
			</div>
		</main>
	}
}
